In [1]:
# Dependecies
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager
import requests

In [2]:
# URL's we will be scraping
redplanet_url = 'https://redplanetscience.com/'
spaceimg_url = 'https://spaceimages-mars.com/'
marsfact_url = 'https://galaxyfacts-mars.com/'
hemisphere_url = 'https://marshemispheres.com/'

In [3]:
# Retrieving the pages
redplanet_res = requests.get(redplanet_url)
spaceimg_res = requests.get(spaceimg_url)
marsfact_res = requests.get(marsfact_url)
hemisphere_res = requests.get(hemisphere_url)

In [4]:
# Creating a beautiful soup object and parsing with html.parser
# redplanet_soup = BeautifulSoup(redplanet_res.text, 'html.parser')
# spaceimg_soup = BeautifulSoup(spaceimg_res.text, 'html.parser')
marsfact_soup = BeautifulSoup(marsfact_res.text, 'html.parser')
hemisphere_soup = BeautifulSoup(hemisphere_res.text, 'html.parser')

In [5]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [C:\Users\pimin\.wdm\drivers\chromedriver\win32\93.0.4577.63\chromedriver.exe] found in cache

In [6]:
# Retrieve red planet first article title and paragraph
browser.visit(redplanet_url)
html = browser.html
redplanet_soup = BeautifulSoup(html, 'html.parser')
redplanet_results = redplanet_soup.find_all('div', class_='list_text')
news_title = redplanet_soup.find('div', class_='content_title').text
news_p = redplanet_soup.find('div', class_='article_teaser_body').text
print(news_title)

NASA's Treasure Map for Water Ice on Mars

In [7]:
# Setting up splinter to find the featured image url
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [C:\Users\pimin\.wdm\drivers\chromedriver\win32\93.0.4577.63\chromedriver.exe] found in cache

In [8]:
# open the website
browser.visit(spaceimg_url)

In [9]:
# Open the featured image
browser.links.find_by_partial_href('featured').click()
# save the new webpage's html
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [10]:
# find featured image extension and add it onto the base html
featured_image_result = soup.find_all('img', class_='fancybox-image')
featured_image = featured_image_result[0].get('src')
print(featured_image)

image/featured/mars1.jpg

In [11]:
# Reading in the 
tables = pd.read_html(marsfact_url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [12]:
# Saving the second table as a df
mars_df = tables[1]
mars_df = mars_df.rename(columns={0: 'Attribute', 1: 'Value'})
mars_df = mars_df.set_index('Attribute')
mars_df

                                              Value
Attribute
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [13]:
# find the links to each hemisphere's page
links = []
response = requests.get(hemisphere_url)
hemisphere_soup = BeautifulSoup(response.text, 'html.parser')
for link in hemisphere_soup.find_all('a'):
    links.append(link.get('href'))
hemisphere_links = [links[3],links[5],links[7],links[9]]

In [14]:
# visit the links and retrieve the image url and title
# put the title and image into a dictionary and make a list of these distionaries
hemisphere_image_urls = []
for link in hemisphere_links:
    response = requests.get(hemisphere_url + link)
    hemisphere_soup = BeautifulSoup(response.text, 'html.parser')
    image = hemisphere_soup.find('img', class_='wide-image')
    title = hemisphere_soup.find('h2', class_='title').text
    title = title.replace('Enhanced','')
    hemisphere_image_urls.append({'title': title, 'img_url': image.get("src")})

In [15]:
hemisphere_image_urls[0]

{'title': 'Cerberus Hemisphere ',
 'img_url': 'images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}

In [17]:
mars_table = mars_df.to_html()

In [18]:
html_dict = { 'title':news_title, 'paragraph':news_p,'f_images':featured_image, 'facts':mars_table, 'hem_urls':hemisphere_image_urls}

In [21]:
html_dict

{'title': "NASA's Treasure Map for Water Ice on Mars",
 'paragraph': 'A new study identifies frozen water just below the Martian surface, where astronauts could easily dig it up.',
 'f_images': 'image/featured/mars1.jpg',
 'facts': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Attribute</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>',
 'hem_urls': [{'title': 'Cerberus Hemisphere ',
   'img_url': 'images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
  {'title': 'Schiaparelli Hemisphere ',
   'img_url': 'images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
  {'title': 'Syrtis Major Hemisphere ',
   'img_url': 'images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
  {'title': 'Valles Marineris Hemisphere ',
   'img_url': 'images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]}